In [1]:
from models.FixedIncomeInstruments.Bullet import Bullet

bullet = Bullet(maturity_date='2025-01-01',issue_date='2020-01-01', principal=1000, interest_rate=0.05, annual_compound=2)

bullet.cashflow_to_maturity()

1.0 25.0

        Date  Payment
0 2020-07-01     25.0
1 2021-01-01     25.0
2 2021-07-01     25.0
3 2022-01-01     25.0
4 2022-07-01     25.0
5 2023-01-01     25.0
6 2023-07-01     25.0
7 2024-01-01     25.0
8 2024-07-01     25.0
9 2025-01-01   1025.0